<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stock_Control_DesktopApp.Properties.Settings.DBbusinessConnectionString"
            connectionString="Data Source=DESKTOP-OF07IF9;Initial Catalog=DBbusiness;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>